.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.side-nav-container {
  flex: 1;
}

.nav-list-element {
  width: 200px;
}

.title {
  margin-left: 10px;
}

.content-container {
  display: flex;
  display: row;
  padding: 25px;
  justify-content: center;
}