.content {
  width: 600px;
}

.table {
  margin-top: 50px !important;
  display: table;
  width: 100%;
}

.row {
  text-align: center;
}

.row:hover {
  background-color: lightblue;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
