<div class="content">
  <mat-card>
    <mat-card-title>
      Propietarios
    </mat-card-title>
    <mat-card-content>
      <br/>
      
      <mat-table [dataSource]="owners" class="mat-elevation-z8 demo-table">
        
        <ng-container matColumnDef="nombre">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>
      
    
        <ng-container matColumnDef="apellido">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
        </ng-container>
      
        
        <ng-container matColumnDef="edad">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Edad </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> {{element.edad}} </mat-cell>
        </ng-container>
      
      
       <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
     <mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"></mat-row>
      </mat-table>
      
      <br/>
      <button mat-raised-button color="primary" (click)="load()">Cargar datos</button>

    </mat-card-content>
  </mat-card>
</div>

