.content {
    width: 600px;
}

.table {
    width: 100%;
}

.row {
    text-align: center;
}

.row:hover {
    background-color: lightblue;
}

.title {
    text-align: center;
}

.thead {
    text-align: center;
    font-weight: bold;
}